<!--{% extends "base.html" %}-->
<!--{% block title %}-->
<!--パスワード管理アプリケーション - アカウント管理-->
<!--{% endblock %}-->
<!--{% block body %}-->
<!--    <h1>管理</h1>-->
<!--    <ul>-->
<!--        <li> <a href="{% url 'generate_password' %}">パスワード生成</a></li>-->
<!--    </ul>-->
<!--    <table border=1 width=280 height=60>-->
<!--        <tr>-->
<!--            <td>Title</td>-->
<!--            <td>UserName</td>-->
<!--            <td>PassWord</td>-->
<!--            <td>URL</td>-->
<!--        </tr>-->
<!--        {% for account in object_list %}-->
<!--            <tr>-->
<!--                <td>{{account.title}}</td>-->
<!--                <td>{{account.user_name}}</td>-->
<!--                <td>{{account.password}}</td>-->
<!--                <td>{{account.url}}</td>-->
<!--            </tr>-->
<!--        {% endfor %}-->
<!--    </table>-->
<!--{% endblock %}-->
